---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class:list={["container", className]}>
  <slot />
</div>

<style>
  .container {
    padding: 0 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  @media (max-width: 640px) {
    .container {
      padding: 0 1.5rem;
    }
  }
</style>

